.max-height-html {
    height: 98%;
}
.max-height-body {
    height: 100%;
}
.grid-section {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "head head"
    "nav  main"
    "nav  foot";
    grid-template-rows: 15% 1fr 15%;
    grid-template-columns: 20% 1fr;
}
.grid-header {
    grid-area: head;
    display: flex;
    background-color: darkcyan;
    margin: 0.5%;
    border-radius: 14px;
    align-items: center;
}
.header-h1 {
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive,
        fantasy;
    margin: 2%;
}
.grid-nav {
    grid-area: nav;
    border-radius: 14px;
    margin: 0.5%;
    display: flex;
    flex-direction: column;
}
.nav-div {
    flex: 10%;
    margin-top: 1px;
    margin-bottom: 1px;
}
.nav-button {
    background-color: skyblue;
    width: 100%;
    height: 100%;
    border: none;

    border-radius: 14px;
}
.max_parent_width {
    width: 95%;
}
.grid-main {
    grid-area: main;
    border-radius: 14px;
    margin: 0.5%;
    background-color: powderblue;
}
.main-iframe-style {
    border-radius: 14px;
    width:100%;
    height:100%;
}
.main-article-show {
    height: 95%;
    padding: 20px;
    background-color: cornflowerblue;
    border-radius: 14px;
}
.grid-footer {
    grid-area: foot;
    border-radius: 14px;
    margin: 0.5%;
    background-color: chartreuse;
}